#main{
    background: khaki;
    font-size: 25px;
}
#header{
    text-align: center;
    font-size: 30px;
}
#body{
    font-family: arial;
}
#countryList{
    display: inline-block;
    height: 70vh;
    overflow-y: auto;
}
#countryList div.hide{
    display: none;
}
#content{
    display: inline-block;
    vertical-align: top;
    padding-left: 100px;
}
img{
    width: 100px;
    
}
table{
    border:1px solid black;
}
.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
} 
.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
}
.button1:hover {
    background-color: #4CAF50;
    color: white;
}

  * {
    box-sizing: border-box;
  }
  
  .column {
    float: left;
    width: 25%;
    padding: 10px;
    height: 600px;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
#alpha{
    height:50px;
    font-size:14pt;
}
.block {
    display: block;
    width: 100%;
    border: none;
    background-color: #808080;
    color: white;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}
.block:hover {
    background-color: #ddd;
    color: black;
}