<!DOCTYPE html>
<html>
    <head>
        <link rel=stylesheet href=/static/country.css>
    </head>
    <body>
        <h1>Country: {{c.name}}</h1>
        <p>The capital of {{c.name}} is {{c.capital}}</p>
        <p>The population of {{c.name}} is {{c.population}}</p>
        <p>The GDP of {{c.name}} is {{c.gdp}}</p>
        <img src={{c.flag}} style='width:100px'/>
        
        <p><a href=/country/{{next}}>Next Country</a></p>
    </body>
</html>